body {
    margin: 0;
}

.flex-container-col {
    display: flex;
    flex-direction: column;
    border-color: black;
    border-style: solid;
    border-width: medium;
    margin-bottom: 10px;
}

.flex-container-col-reverse {
    display: flex;
    flex-direction: column-reverse;
    border-color: black;
    border-style: solid;
    border-width: medium;
    margin-bottom: 10px;
}

.flex-container-row {
    display: flex;
    flex-direction: row;
    border-color: black;
    border-style: solid;
    border-width: medium;
    margin-bottom: 10px;
}

.flex-container-row-reverse {
    display: flex;
    flex-direction: row-reverse;
    border-color: black;
    border-style: solid;
    border-width: medium;
    margin-bottom: 10px;
}

.flex-container-row-wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border-color: black;
    border-style: solid;
    border-width: medium;
    margin-bottom: 10px;
}

.cb-text {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.flex-item:nth-child(1) {
    background-color: #F44336;
    width: 180px;
}

.flex-item:nth-child(2) {
    background-color: #4CAF50;
    width: 180px;
}

.flex-item:nth-child(3) {
    background-color: #2196F3;
    width: 180px;
}

.flex-item-fill:nth-child(1) {
    flex: 1 100%;
    background-color: #F44336;
}

.flex-item-fill:nth-child(2) {
    flex: 1 100%;
    background-color: #4CAF50;
}

.flex-item-fill:nth-child(3) {
    flex: 1 100%;
    background-color: #2196F3;
}

.cb-label {
    font-weight: 600
}
